[database]
;the mysql-host
mysql_host: localhost

;the mysql-username
mysql_user: yourusername

;the mysql-password
mysql_password: yourpass

;the mysql-database
mysql_database: yourdb

[general]
;redirect-target if someone access /
index_redirect: http://google.com/

;root of the short-urls
link_root_url: http://foo.bar/

;comma-seperated list of sha1-hashes
auth_hashes: 0beec7b5ea3f0fdbc95d0dd47f3c5bc275da8a33,62cdb7020ff920e5aa642c3d4066950dd1f01f4d
