[database]
mysql_host: localhost
mysql_user: yourusername
mysql_password: yourpass
mysql_database: yourdb

[general]
link_root_url: http://foo.bar/
auth_hashes: 0beec7b5ea3f0fdbc95d0dd47f3c5bc275da8a33,62cdb7020ff920e5aa642c3d4066950dd1f01f4d
