<!DOCTYPE HTML>
<html lang="de-DE">
<head>
    <meta charset="UTF-8">
    <title>LinkShorter</title>
    
    <style type="text/css">
    body {
        padding-top:15%;
    }
    
    #container {
        width: 80%;
        margin: 0 auto;
        text-align:center;
        border:1px dashed #CCC;
        padding:10% 0;
    }
    
    input {
        border:1px solid #CCC;
    }
    
    input#link {
        width: 50%;
        display:inline;
        height:30px;

    }
    
    input#submit {
        height:33px;
        cursor:pointer;
    }
    
    input#submit:active {
        border-style:inset;
    }
    </style>
</head>
<body>
    <div id="container">
        %include
    </div>
</body>
</html>
