%if domain != None and site_id !=None:
<!-- Piwik --> 
<script type="text/javascript">
 var pkBaseURL = (("https:" == document.location.protocol) ? "https://{{domain}}/" : "http://{{domain}}/");
 document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
 try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{site_id}});
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
 } catch( err ) {}
</script>
<noscript><p><img src="http://{{domain}}/piwik.php?idsite={{site_id}}" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
%end
