<!DOCTYPE HTML>
<html lang="de-DE">
<head>
	<meta charset="UTF-8">
	<title>dsx.cc-LinkShorter</title>
	
	<style type="text/css">
	#container {
	    width: 400px;
	    margin: 0 auto;
	}
	
	    input {
	        width: 400px;
	        display: block;
	    }
	    
	        input#submit  {
	            width: 406px;
	        }
	</style>
</head>
<body>
    <div id="container">
	    <form action="/add/" method="post">
	        <input type="password" value="auth" id="auth" name="auth" />
	        <input type="text" value="link" id="link" name="link" />
	        <input type="submit" value="submit" id="submit" name="submit" />
	    </form>
	</div>
</body>
</html>
